<!--TODO ajouter la page de contact + style-->

{% extends 'accounts/main.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/css/contact.css' %}">
{% endblock %}
{% block content %}

<div class="contact">

    <h1 class="mt-7">Nous contacter</h1>

    <div class="container mt-5">

        <div class="row justify-content-around">
            
            <div class="col-4">
                <div class="qr-cadre">
                    <img src="{% static '/img/qr_code.svg' %}" alt="" class="qr-img">
                </div>
                <div class="qr-below">
                    <p>A. Dandres</p>
                </div>
            </div>

            <div class="col-4">
                <div class="qr-cadre">
                    <img src="{% static '/img/qr_code.svg' %}" alt="" class="qr-img">
                </div>
                <div class="qr-below">
                    <p>A. De Rago</p>
                </div>
            </div>

        </div>

        <div class="row justify-content-around mt-5">
            
            <div class="col-4">
                <div class="qr-cadre">
                    <img src="{% static '/img/qr_code.svg' %}" alt="" class="qr-img">
                </div>
                <div class="qr-below">
                    <p>A. Payet</p>
                </div>
            </div>

            <div class="col-4">
                <div class="qr-cadre">
                    <img src="{% static '/img/qr_code.svg' %}" alt="" class="qr-img">
                </div>
                <div class="qr-below">
                    <p>G. Verbrugghe</p>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}